# Compilação e Build
build/
bin/
obj/
*.o
*.a
*.so

# Executáveis gerados
main
teste

# Arquivos de Sistema e IDEs
.vscode/
.idea/
.DS_Store
*.swp
*.patch

# Arquivos de log ou temporários
*.log

#anotações
*.txt

# Arquivos de dados e configurações
*.json
*.csv
!config.json.example
config.json

# Fotos e Imagens
*.jpg
*.jpeg
*.png
*.bmp
*.webp
*.gif
*.tiff

# Vídeos e Mídias
*.mp4
*.avi
*.mkv
*.mov
*.h264
*.h265
*.wmv
*.flv
*.m4v
