{
    "mqtt_host": "SEU_IP_AQUI",
    "mqtt_port": 1883,
    "iota_host": "SEU_IP_AQUI",
    "iota_port": 4041,
    "api_key": "smartcrossing",
    "device_id": "rasp_crossing_01",
    "entity_name": "urn:ngsi-ld:ItemFlowObserved:1",
    "cbroker_url": "http://orion.fiware-kata.svc.cluster.local:1026",
    "latitude": -20.272594,
    "longitude": -40.306346,
    "interval_s": 1,
    "keepalive_s": 60
}
